
.content_block {
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1219px;
    margin: auto;
    box-sizing: border-box;
}
.roboto_700{
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
.roboto_500{
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.roboto_400{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.size_64{
    font-size: 64px;
    color: rgba(0, 119, 101, 1);
}
.size_48{
    font-size: 48px;
    color:rgba(255, 255, 255, 1);
    font-style: italic;  
}
.size_32{
    font-size: 32px;
    color: rgba(0, 0, 0, 1);
    margin-top: 16px;
}
.head {
    background-color:#007765;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.label_picture {
    padding-top: 20px;
    padding-bottom: 20px;
    display:inline-block;
    vertical-align: middle;         
}
.label_text {
    display:inline-block;
    margin-left: 502px;
    font-size: 24px;
    color:  rgba(255, 255, 255, 1);
}
.label_text a {
    text-decoration: none;
    color:  rgba(255, 255, 255, 1);
}
.second_block {
    background: url(Картинки/Block2.png);
    background-size: cover;
    background-position:center center;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    margin-top: 89px;
}
.second_block div {
    color:#FFFFFF;
    font-size: 72px; 
}
.third_block {
    background: #EEEEEE;
    padding-top: 48px;
    padding-bottom: 92px;
}
.third_block .size_64 {
    width: 500px;
    margin:auto;
    text-align: center;
}
.fourth_block {
    background-image: url(Картинки/Block-4.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
}
.fifth_block {
    background: #FFFFFF;
    padding-top: 48px;
    padding-bottom: 92px;
}
.fifth_block .size_64 {
    width: 800px;
    margin:auto;
    text-align: center;
}
.fifth_block img {
    float: left;
    margin-right: 48px;
}
.six_block {
    background:  #EEEEEE;
    padding-top: 48px;
    padding-bottom: 92px;
}
.six_block .size_64 {
    width: 500px;
    margin:auto;
    text-align: center;
}
.six_block .photo {
    padding-left: 91px; 
    padding-right: 91px; 
    padding-top: 24px;
}
.six_block .first_label_after_photo {
    text-align: center; 
    font-size: 24px; 
    color:rgba(0, 119, 101, 1);
    margin-top: 12px;
}
.six_block .second_label_after_photo {
    text-align: center; 
    font-size: 18px; 
    padding-bottom: 28px;
    font-style: italic;
    color: rgba(0, 0, 0, 1);    
}
.six_block .team_picture {
    display: inline-block;
}
.form_for_team{
    text-align: justify;
    font-size: 0;
}
.form_for_team:after {
    content: '';
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    width: 100%; 
}
.sevent_block_background {
    background: #333333;
    padding-top: 48px;
    padding-bottom: 64px;
}
.sevent_block {
    color:  rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 18px;
    margin: auto;
    max-width: 540px;
}
